div.form-group
  label.col-sm-3.control-label Name
  div.col-sm-9
    input.form-control(type="text", name="name" value=name)
div.form-group
  label.col-sm-3.control-label Description
  div.col-sm-9
    input.form-control(type="text", name="description" value=description)
