extends ../layout
block title
  |  Events
block content
  h3 Events

  table
    thead
      tr
        th id
        th name
        th description
    tbody
      each event in events ? events : []
        tr
          td
            = event.eventId
          td
            = event.name
          td
            = event.description
          td
            a.btn.btn-default(href='/events/' + event.eventId) Edit
  p
    a.btn.btn-default(href='/events/new') New
