extends ../layout
block title
  |  New Event
block content
  h3 Add Event
  form.form-horizontal(name="add", method="post")
    include fields
    div.form-group
      div.col-sm-9.col-sm-offset-3
        input.btn.btn-primary(name="submit", type="submit", value="Add")
        | &nbsp;
        a.btn.btn-default(href='/events') Cancel
